# Logs
logs
*.log


# Runtime data
pids
*.pid
*.seed

node_modules/
dist/
.cache/

# Users Environment Variables
.lock-wscript
.tsdrc
.typingsrc

# IDE configuration files
.idea
.vscode
*.iml


# OS X trash files
.DS_Store

# eclipse ide
.project
.settings
.classpath
/node/
/target/

# Package manager
.npmrc

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

